<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yan.ibbie.TYcrowdfunding.manager.dao.AuthcertMapper" >
  
  <select id="queryTicketByPiid" resultType="Ticket">
  	select * from t_ticket where piid=#{processDefinitionId}
  </select>
  
  <select id="queryMemberByTicket" parameterType="Ticket" resultType="Member">
  	select * from t_member where id=#{memberid}
  </select>
  
</mapper>